.logo {
  width: 20%;
}

header {
  width: 100%;
  max-height: 10% !important;
}

.img {
  background-image: url("./img/astroBanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh !important;
  width: 100%;
}

.texto {
  background-image: url("./img/26021-kosmos-astronomicheskij_obekt-tumannost-galaktika-vselennaya-3840x2160.jpg");
  background-size: cover;

  height: 100%;
  color: aliceblue;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
