* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 12%;
  padding: 0.5%;
}

.menu {
  list-style: none;
}

li {
  display: inline;
}

ul li a {
  list-style: none;
  color: aliceblue;
  text-decoration: none;
}

header {
  width: 100%;
  background: linear-gradient(to right, #1f1f21, #12324f, #b25e6f);
  display: flex;
  flex-direction: row;
}

.img {
  background-image: url("./img/astroBanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh !important;
  width: 100%;
}

.texto1 {
  background-image: url("./img/26021-kosmos-astronomicheskij_obekt-tumannost-galaktika-vselennaya-3840x2160.jpg");
  background-size: cover;

  height: 100%;
  color: aliceblue;
  padding: 10% 0px 10% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;

  font-family: "VT323", monospace;
}

.texto2 {
  background-image: url("./img/cosmos2.jpg");
  background-size: cover;
  height: 100%;
  color: aliceblue;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 400%;

  font-family: "VT323", monospace;
}





